body {
    font-family: Georgia;
    font-style: italic;
  }
  :root {
    --beige1: #C8B59E;
    --white: #ffffff;
    --black: #000000;
  }


.container {
    display: flex;
    align-items: center;
}
