body {
    font-family: 'Times New Roman', Times, serif;
    background: var(--backgroundColor);
}
  .light-theme {
    --backgroundColor: var(--beige1);
    --fontColor: var(--black);
  }
  
  .dark-theme {
    --backgroundColor: var(--black);
    --fontColor: var(--green);
  }

  :root {
    --beige1: #C8B59E;
    --white: #ffffff;
    --black: #000000;
  }
  * {
    color: var(--black);
    font-family: 'Times New Roman', Times, serif;
  }

  .tab{
    overflow: hidden;
    border: none;
    background-color: var(--beige1);
  }

  .tab button{
    background-color: inherit;
    float: middle;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  .tab button:hover {
    background-color: var(--white);
  }

  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    
    padding: 6px 12px;
    border: none;
    border-top: none;
  }