body {
    font-family: 'Times New Roman', Times, serif;
    background: var(--beige1);
}
  :root {
    --beige1: #C8B59E;
    --white: #ffffff;
    --black: #000000;
  }

  .tab{
    overflow: hidden;
    border: none;
    background-color: var(--beige1);
  }

  .tab button{
    background-color: var(--white);
    float: middle;
    border: dotted, 50px;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
  }

  .tab button:hover {
    background-color: aquamarine;
  }

  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    padding: 6px 12px;
    border: none;
    border-top: none;
  }